* {
    margin: 0;
    padding: 0
}

.box {
    width: 100%;
    height: 1000px;
    position: relative;
}

.box img {
    width: 100%;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 7em;
}

p {
    position: absolute;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 7em;
}

.tengah {
    left: 50%;
    top: 20%;
    text-align: center;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
}